<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<dialog id="contact-dialog">
			<header>
				<button type="reset" form="contact-form" data-close="#contact-dialog">X</button>
			</header>
			<form name="contact-form" id="contact-form">
				<fieldset>
					<legend>Basic Info</legend>
					<input type="text" name="basic[first]" autocomplete="given-name" placeholder="First name" pattern="[A-z]+" required="" />
					<input type="text" name="basic[middle]" autocomplete="additional-name" placeholder="Middle name" pattern="[A-z]+" />
					<input type="text" name="basic[last]" autocomplete="family-name" placeholder="Last Name" pattern="[A-z]+" required="" />
					<br />
					<label>Organization <input type="text" name="basic[org]" autocomplete="organization" placeholder="Company" /></label>
					<br />
					<label>Birthday<input type="date" name="basic[bday]" autocomplete="bday" placeholder="YYYY-mm-dd" required="" /></label>
					<br />
					<label for="sex">Sex</label>
					<select name="basic[sex]" id="sex" autocomplete="sex" required="">
						<option value="">Pick one</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</fieldset>
				<fieldset>
					<legend>Address</legend>
					<input type="text" name="address[street]" autocomplete="street-address" placeholder="123 Some Street" pattern="\d+ [\w\.# ]+" required=""/>
					<br />
					<input type="text" name="address[city]" autocomplete="address-level2" placeholder="City" pattern="[A-z ]+" required=""/>
					<span>, </span>
					<input type="text" name="address[state]" autocomplete="address-level1" placeholder="State" pattern="[A-z ]+" required="" />
					<br />
					<input type="number" name="address[postal]" autocomplete="postal-code" placeholder="#####" min="10000" max="99999" required="" />
					<br />
				</fieldset>
				<fieldset>
					<legend>Contact Info</legend>
					<input type="email" name="contact[email]" autocomplete="email" placeholder="user@example.com" required="" />
					<br />
					<input type="tel" name="contact[tel]" autocomplete="tel" placeholder="+1-123-456-7890" required="" />
					<br />
					<input type="url" name="contact[url]" autocomplete="url" placeholder="http://example.com" />
				</fieldset>
				<fieldset>
					<legend>Credentials</legend>
					<input type="text" name="creds[user]" autocomplete="username" placeholder="username" required="" />
					<br />
					<input type="password" name="creds[password]" autocomplete="new-password" placeholder="***********" required="" />
				</fieldset>
				<fieldset>
					<legend>Payment Info</legend>
					<select name="cc[type]" required="">
						<option value="">Select Credit Card Type</option>
						<option>Master Card</option>
						<option>Visa</option>
					</select>
					<br />
					<input type="number" autocomplete="cc-number" min="1000000000000" max="9999999999999" placeholder="Credit Card Number (no '-')" required="" />
					<br />
					<input type="date" name="cc[exp]" autocomplete="cc-exp" placeholder="YYYY-MM-DD" required="" />
					<br />
					<input type="number" autocomplete="cc-csc" min="100" max="9999" name="cc[csc]" placeholder="CSC (###)" required="" />
				</fieldset>
				<button type="submit">Submit</button>
				<button type="reset">Reset</button>
			</form>
		</dialog>
	</body>
</html>
