<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<template id="keybase-user-template">
			<hr />
			<img src="" width="" height="" data-keybase-prop="picture"/>
			<a data-keybase-prop="keybase-url" href="">
				<b data-keybase-prop="name"></b>
				@ <span data-keybase-prop="location"></span>
			</a>
			<blockquote data-keybase-prop="bio"></blockquote>
			<details>
				<summary>Proofs</summary>
				<ul data-keybase-prop="proofs"></ul>
			</details>
			<details data-keybase-prop="keys">
				<summary>Keys</summary>
			</details>
		</template>
	</body>
</html>
