<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<template id="person-template">
			<span itemtype="http://schema.org/Person" contenteditable="false">
				<span itemprop="image" data-schema-template="image-template"></span>
				<span itemprop="givenName"></span>
				<span itemprop="familyName"></span>
				<time itemprop="birthDate" datetime="" data-date-format="D, F j, Y g:i A"></time>
				<details>
					<summary>Contact Info</summary>
					<span itemprop="homeLocation" data-schema-template="address-template"></span>
					<a href="" itemprop="url">Website</a>
				</details>
			</span>
		</template>
	</body>
</html>
